
stage {
    font: 16pt serif;
}

MxButton {
    background-gradient-start: rgba(80,80,80,0.3);
    background-gradient-end: rgba(80,80,80,0.7);
    background-gradient-direction: vertical;
    border-radius: 15px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.big {
    font-size: 150%;
}
