
stage {
    font: 16pt serif;
}

MxButton {
    background-image: url(Craig.jpg);
    border-radius: 15px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.big {
    font-size: 150%;
}
